* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.title{
    font-size: 50px;
}

.banner {
    padding-left: 140px;
    padding-right: 120px;
    height: 450px;
    background-color: #E554731A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.primary-button{
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background: #E55473;
}
.banner-image{
    
    width: 435px;
    height: 450px;
}
.hot-deal{
    margin-top: 10px;
    padding-left: 140px;
    padding-right: 120px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    background-color: #E554731A;
    align-items: center;
}
.new-deal{
    text-align: center;
}

.deal{
    color: #E55473;
}

.signup-button{
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background: #E55473;
}
.new-flower{
    height: 320px;
    width: 300;
}
.social-media{
    max-width: 920px;
    margin: 70px auto;
}
.insta-content {
    max-width: 850px;
    text-align: center;
}
.insta-image{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}
.insta-image> img{
    width: 210px;
    height: 240px;
 }
 
.subscription{
    max-width: 850px;
    margin: 70px auto;
    padding: 80px 20px;
    text-align: center;
    background-image: url('../images/Rectangle\ 9.png');
    background-size: cover;
    
}
form> input[type = email] {
    width: 400px;
    padding: 15px 20px 15px 12px;
    border-radius: 4px;
    border: none;
    outline: none;
}
form>input[type=submit] {
    background-color: #E55473;
    color: #fff;
    font-weight:700;
    margin-left: 5px;
    width: 100px;
    padding: 15px;
    border-radius: 4px;
    border: none;
    outline: none;
}

